In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import table
from collections import Counter
import numpy as np
import scipy as sp
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [3]:
pwd

'/Users/anurag_chandra/Downloads'

In [4]:
df = pd.read_csv('smiles_converted.csv')
df = df.rename(columns={'Name':'Molecule ChEMBL ID'})

In [6]:
df2 = pd.read_csv('Training-Data.csv')

In [7]:
df.head()

,Molecule ChEMBL ID,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,...,PubchemFP871,PubchemFP872,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880
0,CHEMBL3645910,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,CHEMBL3693444,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,CHEMBL574680,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,CHEMBL1092389,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,CHEMBL1765602,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df2.shape

(5231, 6)

In [9]:
new = pd.merge(df2, df, on='Molecule ChEMBL ID', how='outer')

In [10]:
new = new.drop(columns=['Smiles'])

In [11]:
new.head()

,Molecule ChEMBL ID,CHEMBL614725,CHEMBL2842,CHEMBL203,CHEMBL1957,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,...,PubchemFP871,PubchemFP872,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880
0,CHEMBL3645910,0,1,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,CHEMBL3693444,0,1,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,CHEMBL574680,0,1,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,CHEMBL1092389,0,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,CHEMBL1765602,0,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
y = new[{'CHEMBL614725','CHEMBL1957','CHEMBL2842','CHEMBL203'}]

In [14]:
x = new.drop(columns=['CHEMBL614725','CHEMBL1957','CHEMBL2842','CHEMBL203','Molecule ChEMBL ID'])

In [24]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [25]:
X_train.shape, y_train.shape

((4184, 881), (4184, 4))

In [26]:
X_test.shape, y_test.shape

((1047, 881), (1047, 4))

In [27]:
X_train

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,PubchemFP9,...,PubchemFP871,PubchemFP872,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880
415,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1259,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2737,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4328,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1095,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4246,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4164,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2734,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
900,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1012,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [28]:
y_train

      CHEMBL1957  CHEMBL203  CHEMBL614725  CHEMBL2842
415            0          0             0           1
1259           0          1             0           0
2737           0          1             0           0
4328           0          0             1           0
1095           0          1             0           1
...          ...        ...           ...         ...
4246           0          0             1           0
4164           0          0             1           0
2734           0          1             0           0
900            0          0             0           1
1012           0          0             0           1

[4184 rows x 4 columns]

In [29]:
classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)

DecisionTreeClassifier()

In [30]:
predictions = classifier.predict(X_test)
predictions

array([[0, 1, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 1],
       ...,
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0]])

In [31]:
y_test

      CHEMBL1957  CHEMBL203  CHEMBL614725  CHEMBL2842
3086           0          1             0           0
535            0          0             0           1
4665           1          0             0           0
536            0          0             0           1
5060           1          0             0           0
...          ...        ...           ...         ...
5078           1          0             0           0
4774           1          0             0           0
1946           0          1             0           0
1332           0          1             0           0
4162           0          0             1           0

[1047 rows x 4 columns]

In [32]:
print("Accuracy = ",accuracy_score(y_test,predictions))

Accuracy =  0.8070678127984718